/* Style the container */
.Fitness {
  background-color: steelblue;
  padding: 150px;
  border: 1px solid #3aaa26;
  border-radius: 5px;
  margin: 20px;
}

.Fitness ul {
  list-style-type: none; 
  
}

.Fitness li {
  margin: 50px 0; 
}

/* Style list items in the first section */
.Fitness .list-item {
  margin: 0;
  color: black;
  font-weight: bold;
  position: relative;
  background-color: white;
  display: flex; 
  align-items: flex-start;
  font-size: 24px; 
}


.membership-options {
  display: flex;
  justify-content: space-between;
}

/* prices */
.membership-option {
  padding: 20px;
  border-radius: 5px;
  flex: 1;
  text-align: center;
  border: 1px solid #0e0d0d;
  margin: 0 5px;
  font-size: 24px; 
}

/* Style only the "Monthly" container */
.membership-option:nth-child(1) {
  background-color: rgb(14, 2, 2);
  color: white;
}

.membership-option:nth-child(2) {
  background-color: rgb(52, 16, 232);
  color: white;
}
/* my back */
.Fitness .membership-image {
  display: block;
  margin: 10px auto;
  max-width: 80%; 
}
